<form action="/post-comment" method="post">
    <label for="comment">Текст комментария</label>
    <input type="textarea" id="comment" name="comment" />
    <button type="submit">Отправить</button>
</form>