<form action="/create" method="post">
    <label for="fullName">Full Name:</label>
    <input placeholder="Вася Пупкин" type="text" id="fullName" name="fullName" />
    <button type="submit">Submit</button>
</form> 