<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Профиль</title>
</head>
<body>
  <p>Привет <%= username %>!</p>
  <p>У тебя выбрана тема <%= theme %></p>
  <p>Твой язык: <%= lang %></p>
  
</body>
</html>