<h1><%= heading %></h1>

<form action="/<%= id %>/edit" method="post">
    <label for="firstname">First Name</label>
    <input value="<%= firstnamePlaceholder %>" type="text" id="firstname" name="firstname" />
    <label for="firstname">Last Name</label>
    <input value="<%= lastnamePlaceholder %>" type="text" id="lastname" name="lastname" />
    <button type="submit">Submit</button>
</form>