<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Sign Up</title>
</head>

<body>
    <h1>Sign Up</h1>
    <form action="/signup" method="POST">
        <div>
            <label for="username">Username</label>
            <input id="username" name="username" placeholder="username" type="text" required />
        </div>
        <div>
            <label for="password">Password</label>
            <input id="password" name="password" type="password" required />
        </div>
        <div>
            <button type="submit">Sign Up</button>
        </div>
    </form>
</body>

</html>