<ul>
    <li><a href="/">Главная</a></li>
    <li><a href="/games">Игры</a></li>
    <li><a href="/signup">Регистрация</a></li>
    <li><a href="/clubhouse">Clubhouse</a></li>
    <li><a href="/givemember">Give Member</a></li>
</ul>